.topic {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 114px;
    padding-top: 0pt;
}

.subTopic {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
}

.register {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    text-align: right;
    padding-top: 7rem;
}

.instructions {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
}

.inputfield {
    width: 60vh;
    height: 7vh;
    margin-top: 1rem;
    margin-left: 10rem;
    top: 502px;
    background: #EDEDED;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    padding-left: 2rem;
    font-family: Share;
    font-style: normal;
    font-weight: normal;
    /* font-size: 25px; */
    line-height: 41px;
    border-width: 0pt;
    /* identical to box height */
    text-align: left;
    color: #2B2B2B;
}

.inputfield:hover {
    background: rgba(185, 172, 238, 0.63);
    color: #2B2B2B;
}

.mailIcon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

.registerButton {
    width: 150px;
    height: 40px;
    margin-top: 4vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 93px;
    font-family: Share;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    border-width: 0pt;
}

.registerButton:hover {
    background: #341E71;
    color: #FFFFFF;
}

.loginbtn {
    width: 150px;
    height: 40px;
    margin-top: 4vh;
    font-family: Share;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* identical to box height */
    text-align: center;
    border-width: 0pt;
}

.loginbtn:hover {
    color: #341E71;
}

.imagebackground {
    width: 600px;
    height: 395px;
}