.imageStyle {
    width: 155px;
    height: 155px;
    margin-top: 2vh;
    box-sizing: border-box;
}

.topic {
    font-family: Baloo Thambi;
    font-style: normal;
    font-size: 72px;
    line-height: 111px;
    /* identical to box height */
    color: #000000;
    margin-left: 50px;
    padding-top: 25pt;
}

.researchInput {
    margin-top: 4vh;
    width: 900px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    color: #000000;
    background: #EDEDED;
    border-radius: 60px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 0pt;
}

.researchtextarea {
    margin-top: 4vh;
    width: 900px;
    height: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    color: #2B2B2B;
    background: #EDEDED;
    border-radius: 30px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 0pt;
}

.researchfile {
    margin-top: 5vh;
    width: 500px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 39px;
    color: #2B2B2B;
    background: #EDEDED;
    border-radius: 60px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 0pt;
    margin-bottom: 3pt;
}

.submitbtn {
    width: 150px;
    height: 40px;
    margin-top: 5vh;
    margin-left: 25vh;
    background: plum;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 93px;
    font-family: Share;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    border-width: 0pt;
}

.uploadIndicator{
    visibility: visible;
}

.uploadIndicatorNotVisible{
    visibility: hidden;
}


.submitbtnDisabled {
    width: 150px;
    height: 40px;
    margin-top: 5vh;
    margin-left: 25vh;
    background: plum;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 93px;
    font-family: Share;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    border-width: 0pt;
}
.submitbtn:hover {
    background: #341E71;
    color: #FFFFFF;
}